<!-- Side Bar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" id="mySidebar">
	<!-- <img src="assets/sangwin-logo.png" class="logo"> -->
	<div><h1>Menu</h1></div>
	<a class="w3-bar-item w3-button" [ngClass]="{'w3-indigo': (active == '/')}" routerLink="/">  <i class="w3-medium fa fa-user"></i>  Student List</a>
	<a class="w3-bar-item w3-button" routerLink="/add"  [ngClass]="{'w3-indigo': (active == '/add')}">  <i class="w3-medium fa fa-plus"></i>  Add New Student</a>
</nav>

<!-- Load main contents -->
<div class="w3-main">
	<div class="w3-container">
	<!-- Initiate Child Routing -->
		<router-outlet></router-outlet>
	</div>
</div>
